            <% if total_order_items %>
              <%= link_to order_path(@cart), class:"navbar-item button is-warning" do %>
              <span class="icon is-small">
                <i class="fa fa-shopping-cart"></i>
              </span>
              <span>Cart
                <%= order_count_over_one %>
                </span>
              <% end %>
            <% end %>