<h1>Store#index</h1>
<p>Find me in app/views/store/index.html.erb</p>
<div class="column is-3 is-offset-1">
  <div class="bg-white pa4 border-radius-3">
    <%= link_to 'Encuentra lo que te gusta', products_path, class: 'button is-warning add-to-cart' %>
  </div>
</div>